<div class="container-sidenav">
    <mat-card class="user-info">
        <mat-card-content class=" d-flex align-items-center">
            <div class="container-image">
                <img src="./assets/img/user-image.jpg" alt="user image">
            </div>
            <div class="info d-flex flex-column justify-content-start">
                <span class="username">Alexandra Bae</span>
                <span class="alias">@ale_bae</span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="navigation">
        <mat-card-content class=" d-flex align-items-center">
            <ul class="container-options">
                <li class="d-flex align-items-center" routerLink="/**" routerLinkActive="active">
                    <mat-icon class="material-symbols-outlined">
                        home
                    </mat-icon>
                    Home
                </li>
                <li class="d-flex align-items-center" routerLink="/news" routerLinkActive="active">
                    <mat-icon class="material-symbols-outlined">
                        pages
                    </mat-icon>
                    News Feed
                </li>
                <li class="d-flex align-items-center" routerLink="/popular-images" routerLinkActive="active">
                    <mat-icon class="material-symbols-outlined">
                        imagesmode
                    </mat-icon>
                    Popular Images
                </li>
                <li class="d-flex align-items-center" routerLink="/user-profile" routerLinkActive="active">
                    <mat-icon class="material-symbols-outlined">
                        person
                    </mat-icon>
                    Profile
                </li>
                <li class="d-flex align-items-center" routerLink="/settings" routerLinkActive="active">
                    <mat-icon class="material-symbols-outlined">
                        settings
                    </mat-icon>
                    Settings
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

</div>
