<mat-card class="container-add-post">
  <mat-card-content class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="container-image" (click)="openDialog()">
        <img src="./assets/img/user-image.jpg" alt="user image">
      </div>
      <span class="description" (click)="openDialog()">What's new, Alexandra?</span>
    </div>
    <mat-icon class="material-symbols-outlined send-icon" (click)="openDialog()">
      send
    </mat-icon>
  </mat-card-content>
</mat-card>
